<?xml version="1.0"?>
<launch>
    <arg name="hz" default="10"/>
    <arg name="max_speed" default="1.0"/>
    <arg name="max_yawrate" default="1.0"/>
    <arg name="lidar_size" default="36"/>
    <arg name="max_range" default="30.0"/>
    <arg name="max_dis" default="20.0"/>
    <arg name="goal_tolerance" default="1.0"/>
    <arg name="algorithm" default="ppo"/>
    <arg name="model_path" default="$(find mpdrl_ros)/model"/>
    <arg name="map_path" default="$(find mpdrl_ros)/map/map.yaml"/>
    <arg name="use_map" default="true"/>
    <arg name="timeout" default="60"/>
    <arg name="use_navigator" default="true"/>
    <arg name="rviz" default="true"/>

    <node name="mpdrl" pkg="mpdrl_ros" type="mpdrl_ros.py">
        <param name="HZ" value="$(arg hz)" type="int"/>
        <param name="MAX_SPEED" value="$(arg max_speed)" type="double"/>
        <param name="MAX_YAWRATE" value="$(arg max_yawrate)" type="double"/>
        <param name="LIDAR_SIZE" value="$(arg lidar_size)" type="int"/>
        <param name="MAX_RANGE" value="$(arg max_range)" type="double"/>
        <param name="MAX_DIS" value="$(arg max_dis)" type="double"/>
        <param name="GOAL_TOLERANCE" value="$(arg goal_tolerance)"/>
        <param name="ALGORITHM" value="$(arg algorithm)"/>
        <param name="MODEL_PATH" value="$(arg model_path)" type="str"/>
        <remap from="/cmd_vel" to="/cmd_vel"/>
        <remap from="/scan" to="/front_laser/scan"/>
    </node>

    <node name="navigator" pkg="mpdrl_ros" type="navigator.py" output="screen" if="$(arg use_navigator)">
        <param name="USE_MAP" value="$(arg use_map)"/>
        <param name="GOAL_TOLERANCE" value="$(arg goal_tolerance)"/>
        <param name="MAP_PATH" value="$(arg map_path)"/>
        <param name="TIMEOUT" value="$(arg timeout)"/>
    </node>

</launch>
