<?xml version="1.0"?>
<launch>

    <node name="mpdrl" pkg="mpdrl_ros" type="mpdrl_ros.py" output="screen">
        <remap from="/cmd_vel" to="/planner/cmd_vel"/>
        <remap from="/scan" to="/scan"/>
    </node>

    <node name="navigator" pkg="mpdrl_ros" type="navigator" output="screen"/>
        
</launch>
